$black: #000000;
$white: #FFFFFFFF;
$orange: #f36d33;
$blue: #4468a4;
$gray: #617485;

$mobileDevice: 320px;
$tabletDevice: 660px;
$desktopDevice: 1024px;
$largeDesktopDevice: 1400px;

$small-font: 10px;
$normal-font: 12px;
$medium-font: 14px;
$large-font: 16px;