@import "src/styles";

.navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.navigation__link {
  color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  &:hover {
    background-color: $blue;
    color: $white;
  }

  @media screen and (min-width: $mobileDevice) {
    font-size: $small-font;
    padding: 5px;
    background-color: $white;
  }

  @media screen and (min-width: $tabletDevice) {
    font-size: $medium-font;
    padding: 10px;
    font-weight: 500;
  }

  @media screen and (min-width: $desktopDevice) {
    font-size: $large-font;
    padding: 15px;
    font-weight: 600;
  }
}
