@import "src/styles";

.no-match-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $red;
  padding: 10px;

  @media screen and (min-width: $mobileDevice) {
    font-size: $small-font;
  }

  @media screen and (min-width: $tabletDevice) {
    font-size: $medium-font;
  }
  @media screen and (min-width: $desktopDevice) {
    font-size: $large-font;
  }
}

.no-match-page__link {
  color: $black;
  background-color: $white;
  font-size: $medium-font;
  padding: 10px;
  border: 2px solid $black;
  border-radius: 10px;
  font-weight: 500;

  &:hover {
    background-color: $orange;
    border: none;
  }
}