@import "src/styles";

.landing-page {
  display: grid;
  background-color: $white;
  border-radius: 8px;
  padding: 0 20px;
}

.landing-page__header {
  text-align: center;
}

.landing-page__paragraph {
  margin: 0;
  padding-bottom: 10px;
}

.landing-page__paragraph,
.landing-page__link {
  @media screen and (min-width: $mobileDevice) {
    font-size: $small-font;
  }

  @media screen and (min-width: $tabletDevice) {
    font-size: $medium-font;
  }
  @media screen and (min-width: $desktopDevice) {
    font-size: $large-font;
  }
}

.landing-page__link {
  padding: 0 5px;
  color: $orange;

  &:hover {
    color: $red;
  }
}